<?xml version="1.0"?>
<launch>

  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
  </include>

  <!-- send urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robot_simulation)/urdf/robot_simulation.xacro'" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model robot"/>

  <rosparam command="load"
            file="$(find robot_simulation)/config/joints.yaml"
            ns="robot_joint_state_controller" />

  <rosparam command="load"
            file="$(find robot_simulation)/config/diffdrive.yaml"
            ns="robot_diffdrive_controller" />

  <node name="robot_controller_spawner" pkg="controller_manager" type="spawner"
    args="robot_joint_state_controller
          robot_diffdrive_controller
          --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/robot_diffdrive_controller/cmd_vel"/>
  </node>

</launch>
